
@{
    ViewBag.Title = "ContactForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ContactForm</h2>
@using (Html.BeginForm())
{
    @Html.Label("Name")<br />
    @Html.TextBox("Name")<br />

    @Html.Label("Prenom")<br />
    @Html.TextBox("Prenom")<br />

    @Html.Label("Email")<br />
    @Html.TextBox("Email")<br />

    @Html.Label("Commentaire")<br />
    @Html.TextArea("Commentaire")<br />

    <button type="submit">Ajouter</button>
}


